* {
	font-family: sans-serif;
	color: Sienna;
	fill: Sienna;
}
body {
	margin: 0;
	overflow: hidden;
}
.page {
	background: Papayawhip;
	width: 100%;
	height: 100%;
	position: absolute;
}
#topbar {
	position: absolute;
	z-index: 100;
	padding: 1em;
	display: none;
}
h1 {
	margin: 1em auto;
	text-align: center;
}
button {
	border: .25em solid Sienna;
	font-size: 2em;
	border-radius: 5em;
	background: none;
	padding: .25em .5em;
}
button.icon {
	padding: .25em;
}
button:hover {
	box-shadow: 0 0 1em Coral;
}
button:active {
	background: Coral;
}
svg.icon {
	width: 1em;
	height: 1em;
	padding: .25em;
}

#menu a {
	display: block;
	margin: 2em auto;
	width: 10em;
	background: Sienna;
	text-align: center;
	padding: 1em;
	font-size: 2em;
	text-decoration: none;
	color: Papayawhip;
	border-radius: 1em;
	cursor: pointer;
}
#menu a:hover {
	box-shadow: 0 0 1em Coral;
	text-shadow: 0 0 1em Papayawhip;
}
#menu a:active {
	background: Papayawhip;
	color: Sienna;
}

#about a {
	display: block;
	margin: 2em auto;
	width: 5em;
	height: 5em;
	background: Sienna;
	text-align: center;
	padding: 1em;
	font-size: 2em;
	text-decoration: none;
	color: Papayawhip;
	border-radius: 1em;
	cursor: pointer;
}
#about a:hover {
	box-shadow: 0 0 1em Coral;
	text-shadow: 0 0 1em Papayawhip;
}
#about a:active {
	background: Papayawhip;
	color: Sienna;
}