* {
	font-family: sans-serif;
	color: Sienna;
	fill: Sienna;
}
body {
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.page {
	background: Papayawhip;
	width: 100%;
	height: 100%;
	position: absolute;
}
#topbar, #gamebar {
	position: absolute;
	z-index: 100;
	padding: 1em;
	display: none;
}
#gamebar {
	box-sizing: border-box;
	width: 100%;
}
#gamebar .group2 {
	float: right;
}
#game-score {
	display: inline-block;
	padding: .25em;
	text-align: right;
	width: 2.5em;
	font-size: 3em;
	font-weight: bolder;
	text-shadow: 1px 1px Peru;
}

h1 {
	margin: 1em auto;
	text-align: center;
}
button {
	border: .25em solid Sienna;
	font-size: 2em;
	border-radius: 5em;
	background: Papayawhip;
	padding: .25em .5em;
	cursor: pointer;
}
button.icon {
	padding: .25em;
}
button:hover {
	box-shadow: 0 0 1em Coral;
}
button:active {
	background: Coral;
}
svg.icon {
	width: 1em;
	height: 1em;
	padding: .25em;
}

#game h1 {
	margin: .5em auto .25em auto;
	text-align: center;
}
#game h2 {
	margin: 0 11em;
	text-align: center;
	font-size: 1em;
	height: 2em;
}

#pause-screen, #win-screen {
	display: none;
}
#pause-screen {
	background: rgba(192, 192, 192, .5);
	z-index: 200;
}
#pause-screen h1 {
	color: White;
	font-size: 5em;
	text-shadow: 0 0 .5em Black;
	position: relative;
	top: 25%;
}
#pause-screen p {
	color: White;
	font-size: 2em;
	text-shadow: 0 0 .5em Black;
	text-align: center;
	position: relative;
	top: 25%;
}

#win-screen {
	background: rgba(255, 255, 255, .75);
	z-index: 200;
}
#win-screen h1 {
	color: Gold;
	font-size: 4em;
	text-shadow: -2px -2px 1px DarkGoldenrod,
	             -3px  0px 1px DarkGoldenrod,
	             -2px  2px 1px DarkGoldenrod,
	              0px  3px 1px DarkGoldenrod,
	              2px -2px 1px DarkGoldenrod,
	              3px  0px 1px DarkGoldenrod,
	              2px  2px 1px DarkGoldenrod,
	              0px -3px 1px DarkGoldenrod;
	position: relative;
	top: 15%;
}
#win-screen p {
	text-align: center;
	position: relative;
	top: 15%;
}
#win-screen button {
	margin: .5em;
	width: 5em;
}

#menu a {
	display: block;
	margin: 2em auto;
	width: 10em;
	background: Sienna;
	text-align: center;
	padding: 1em;
	font-size: 2em;
	text-decoration: none;
	color: Papayawhip;
	border-radius: 1em;
	cursor: pointer;
}
#menu a:hover {
	box-shadow: 0 0 1em Coral;
	text-shadow: 0 0 1em Papayawhip;
}
#menu a:active {
	background: Papayawhip;
	color: Sienna;
}

#level-buttons {
	height: 100%;
	margin: 0 10%;
}

#levels a {
	display: inline-block;
	margin: 1%;
	padding: 2%;
	min-width: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	background: Peru;
	color: Papayawhip;
	font-size: 2em;
	border-radius: 1em;
	cursor: pointer;
}
#levels a.paused {
	box-shadow: 0 0 .25em .25em Goldenrod;
}
#levels a:hover {
	box-shadow: 0 0 1em Coral;
	text-shadow: 0 0 1em Papayawhip;
}
#levels a:active {
	background: Papayawhip;
	color: Sienna;
}
#levels a.locked {
	background: Sienna;
	box-shadow: none;
	color: Papayawhip;
	text-shadow: none;
}

#about {
	height: 100%;
	overflow: hidden;
}
#about article {
	height: calc(100% - 4.5em);
	overflow: auto;
	max-height: 100%;
	margin: 0 15%;
	font-size: 1.25em;
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
#about section {
	margin: 1em 0 5em 0;
	min-height: 100%;
}
#about-tabs {
	text-align: center;
}
#about-tabs a {
	display: inline-block;
	margin: 1.25em .35em 0em .25em;
	width: 5em;
	height: 1em;
	background: Peru;
	color: PapayaWhip;
	padding: 1.25em 1em .5em 1em;
	font-size: 1.5em;
	text-decoration: none;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	cursor: pointer;
}
#about-tabs a:hover {
	box-shadow: 0 0 1em Coral;
	text-shadow: 0 0 1em Papayawhip;
}
#about-tabs a:active {
	background: Papayawhip;
	color: Peru;
}
#about-tabs a.selected {
	background: Sienna;
	text-shadow: 0 0 1em Papayawhip;
}
