
#field {
	position: relative;
	top: 2.5%;
	max-height: 82.5%;
	margin: auto auto;
	display: block;
	background-color: NavajoWhite;
	fill: Sienna;
	stroke: Sienna;
	cursor: crosshair;
}

.trim rect {
	fill: Papayawhip;
	fill-opacity: .9;
	stroke-width: 0;
	cursor: default;
}

.goals {
	stroke: DarkKhaki ;
}

.points .group0 {
	fill: SkyBlue;
}

.points .group1 {
	fill: Tomato;
}

.lines line {
	stroke-width: 5;
}