
#field {
	position: relative;
	top: 2.5%;
	max-height: 82.5%;
	margin: auto auto;
	display: block;
	background-color: NavajoWhite;
	fill: Sienna;
	stroke: Sienna;
	cursor: crosshair;
}
.trim rect {
	fill: Papayawhip;
	fill-opacity: .9;
	stroke-width: 0;
	cursor: default;
}

.goals {
	stroke: url(#hazardlines) DarkKhaki;
}
.rects rect {
	fill: SpringGreen;
}
.points .group0 {
	fill: SkyBlue;
}
.points .group1 {
	fill: Tomato;
}
.lines line {
	stroke-width: 5;
}

.points .group0.cls-Dfrigate {
	fill: url(#frigate-blue) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group0.cls-Dfrigate.thrust {
	fill: url(#frigate-blue-thrust) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group1.cls-Dfrigate {
	fill: url(#frigate-red) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}
.points .group1.cls-Dfrigate.thrust {
	fill: url(#frigate-red-thrust) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}
.points .group0.cls-Dcruiser {
	fill: url(#cruiser-blue) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group0.cls-Dcruiser.thrust {
	fill: url(#cruiser-blue-thrust) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group1.cls-Dcruiser {
	fill: url(#cruiser-red) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}
.points .group1.cls-Dcruiser.thrust {
	fill: url(#cruiser-red-thrust) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}
.points .group0.cls-Dfighter {
	fill: url(#fighter-blue) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group0.cls-Dfighter.thrust {
	fill: url(#fighter-blue-thrust) SkyBlue;
	stroke-opacity: .33;
	stroke: SkyBlue;
}
.points .group1.cls-Dfighter {
	fill: url(#fighter-red) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}
.points .group1.cls-Dfighter.thrust {
	fill: url(#fighter-red-thrust) Tomato;
	stroke-opacity: .33;
	stroke: Tomato;
}

.points .group0.shield {
	stroke-opacity: 1;
}
.points .group1.shield {
	stroke-opacity: 1;
}
